<div class="container">
  <h1>Star Wars Films</h1>

  <div *ngIf="loading">
    <nb-spinner size="giant" status="primary"></nb-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="row">
      <div class="col-md-6" *ngFor="let film of allFilmsData">
        <nb-flip-card [showToggleButton]="true">
          <nb-card-front>
            <nb-card status="info">
              <nb-card-header>
                Episode {{ film.episode_id }}: {{ film.title }}
                <br />
                Director: {{ film.director }}
              </nb-card-header>
              <nb-card-body>
                <p><strong>Opening Crawl:</strong></p>
                <p>{{ film.opening_crawl }}</p>
                <p>
                  <strong>Characters:</strong>
                  <span
                    class="chip"
                    *ngFor="let name of getName(film.characters, 'character')"
                  >
                    {{ name }}
                  </span>
                </p>
                <p>
                  <strong>Url To Movie: </strong
                  ><a [href]="film.url" target="_blank"> {{ film.title }}</a>
                </p>
              </nb-card-body>
              <nb-card-footer>
                <strong>Release Date:</strong>
                {{ film.release_date | date : "mediumDate" }}
              </nb-card-footer>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card status="info">
              <nb-card-header>
                Episode {{ film.episode_id }}: {{ film.title }}
                <br />
                Producer: {{ film.producer }}
              </nb-card-header>
              <nb-card-body>
                <p><strong>Species:</strong> {{ film.species?.length || 0 }}</p>
                <p>
                  <strong>StarShips:</strong>
                  <span
                    class="chip"
                    *ngFor="let ship of getName(film.starships, 'starship')"
                    >{{ ship }}</span
                  >
                </p>
                <p>
                  <strong>Vehicles:</strong> {{ film.vehicles?.length || 0 }}
                </p>
                <p>
                  <strong>Planets:</strong>
                  <span
                    class="chip"
                    *ngFor="let planet of getName(film.planets, 'planet')"
                    >{{ planet }}</span
                  >
                </p>
                <br />
              </nb-card-body>
              <nb-card-footer>
                <strong>Created:</strong>
                {{ film.created | date : "mediumDate" }}
                <br />
                <strong>Edited:</strong> {{ film.edited | date : "mediumDate" }}
              </nb-card-footer>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
      </div>
    </div>
    <p>Found {{ totalItems }} films</p>
    <div class="pagination-container">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>

      <span>Page {{ currentPage }} of {{ totalPages }}</span>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</div>
