<div class="container">
  <h1>Star Wars Characters</h1>

  <div *ngIf="loading">
    <nb-spinner size="giant" status="primary"></nb-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="row">
      <div class="col-md-6" *ngFor="let character of characterData">
        <nb-flip-card [showToggleButton]="true">
          <nb-card-front>
            <nb-card status="warning">
              <nb-card-header>
                {{ character.name }}
                <br />
                {{ character.gender | titlecase }}
              </nb-card-header>
              <nb-card-body>
                <p><strong>Birth Year:</strong> {{ character.birth_year }}</p>
                <p>
                  <strong>Home World:</strong>
                  {{ getName([character.homeworld], "planet") }}
                </p>
                <p><strong>Height:</strong> {{ character.height }} cm</p>
                <p>
                  <strong>Films:</strong>
                  <span
                    class="chip"
                    *ngFor="let name of getName(character.films, 'film')"
                  >
                    {{ name }}
                  </span>
                </p>
                <p>
                  <strong>Url To Character: </strong
                  ><a [href]="character.url" target="_blank">
                    {{ character.name | titlecase }}</a
                  >
                </p>
              </nb-card-body>
              <nb-card-footer>
                <p>
                  <strong>Date Created:</strong>
                  {{ character.created | date : "mediumDate" }}
                </p>
              </nb-card-footer>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card status="warning">
              <nb-card-header> {{ character.name }}</nb-card-header>
              <nb-card-body>
                <p>
                  <strong>Eye Color:</strong>
                  {{ character.eye_color | titlecase }}
                </p>
                <p>
                  <strong>Hair Color:</strong>
                  {{ character.hair_color | titlecase }}
                </p>
                <p>
                  <strong>Skin Color:</strong>
                  {{ character.skin_color | titlecase }}
                </p>
                <p><strong>Mass:</strong> {{ character.mass }} kg</p>
                <p>
                  <strong>Starships:</strong>
                  <span
                    class="chip"
                    *ngFor="
                      let ship of getName(character.starships, 'starship')
                    "
                    >{{ ship }}</span
                  >
                </p>
                <br />
              </nb-card-body>
              <nb-card-footer>
                <p>
                  <strong>Date Edited:</strong>
                  {{ character.edited | date : "mediumDate" }}
                </p>
              </nb-card-footer>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
      </div>
    </div>
    <p>Found {{ totalItems }} Characters</p>
    <div class="pagination-container">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>

      <span>Page {{ currentPage }} of {{ totalPages }}</span>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</div>
